*{
  margin:0;
  padding:0;
}

body{
  background-color:#1A1C28;
  display:flex;
  place-items:center;
  min-height:100vh;
}

main{
  display:grid;
  width:50%;
  height:50%;
  margin:auto;
  grid-template-columns: repeat(6, 90px);
  grid-template-rows: repeat(4, 100px);
  
  grid-column-gap: 15px;
  grid-row-gap: 15px; 
}

main span{
  padding:2em;
  text-align:center;
}

.item-a{
  background-color:#EB5020;
   grid-area: 1 / 1 / 3 / 5;
}

.item-b{
  background-color:#FFA401;
  grid-area: 1 / 5 / 3 / 7;
}

.item-c{
  background-color:#05AA42;
   grid-area: 3 / 1 / 5 / 4;
}
.item-d{
  background-color:#01AEFD;
  grid-area: 3 / 4 / 4 / 7;
}

.item-e{
  background-color:#01AEFD;
   grid-area: 4 / 4 / 5 / 7;
}


